.project_box_container {
    /* width: 550px; */
    margin: 50px 60px;
    box-shadow: 0 15px 15px rgb(25, 24, 24);
    padding: 15px;
    width: 480px;
    transition: width 0.8s, box-shadow 0.8s;
    background-color: rgba(61, 28, 28, 0.5);

}

.project_box_container:hover{
    /* box-shadow: 0 15px 15px rgb(123, 120, 120); */
    width: 510px;
    /* cursor: pointer; */
    /* transform: scale(1.1); */
}

.project_box_image_container{
    padding: 25px;
}

.project_box_image_container > img {
    width: 100%;
}

.project_box_description_container{
    padding: 0 10px;
}

.project_box_title{
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    padding: 10px 0;
}

.project_box_sentences_container >p, .project_box_link{
    font-size: 14px;
}

.project_box_link{
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.project_box_link > span{
    font-weight: 700;
    margin-right: 10px;

    color: red;
}

.project_box_link > a{
    color: white;
} 