.navbar_container {
  background-color: rgb(32, 14, 48);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  padding: 0 8%;
  z-index: 100;
}

.navbar_left{
    font-size: 26px;
    font-weight: 700;
    color: rgb(234, 232, 232);
    /* color: beige; */
}

.navbar_right{
    display: flex;
    /* justify-content: space-around;
    flex-grow: 0.3; */
}

.navbar_right > a > p{
    margin: 4px 5px;
    color: rgb(233, 220, 220);
    padding: 4px 10px;
    font-size: 15px;
    text-decoration: none;
}

.no-underline {
    text-decoration: none;
  }
  
.navbar_right > a > p:hover{
    background-color: red;
    color: whitesmoke;
    cursor: pointer;
    border-radius: 8px;
}

.navbar_right > a > p:active{
    background-color: #48404026;
}

@media (max-width: 768px) {
    .navbar_right {
        display: none;
    }
}