.footer_container{
    margin-top: 50px;
    background-color: black;
    height: 3vh;
    padding: 10px;
}

.footer_text_left{
    float: left;
    color: white;
    font-size: 14px;
    margin-left: 20px;
}

.footer_text_right{
    float: right;
    color: white;
    font-size: 14px;
    margin-right: 40px;
}

@media (max-width: 768px) {
    .footer_text_left{
        float: none;
        text-align: center;
        margin-left: 0;
    }

    .footer_text_right{
        float: none;
        text-align: center;
        margin-right: 0;
    }
    
}