.experience_cards_container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.experience_title{
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 60px;
}

.experience_container{
    padding: 0 8%;
    /* height: 70vh; */
    margin-bottom: 150px;
}


@media (max-width: 768px) { .experience_cards_container { flex-direction: column; align-items: flex-start; justify-content: flex-start; }

.experience_title { font-size: 24px; margin-bottom: 40px; }

.experience_container { padding: 0 5%; margin-bottom: 100px; } }@media (max-width: 768px) { .experience_cards_container { flex-direction: column; align-items: flex-start; justify-content: flex-start; }

.experience_title { font-size: 24px; margin-bottom: 40px; }

.experience_container { padding: 0 5%; margin-bottom: 100px; } }