* {
    margin: 0;
    color: whitesmoke;
}

.app {
    /* padding: 0 5%; */
    position: relative;
    z-index: 1;
    background-color: rgb(0, 0, 0);
}

.app::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-image: url('https://images.unsplash.com/photo-1563089145-599997674d42?q=80&w=3270&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); */
    background-image: url('https://www.readz.com/image/8359264.1620928269000/gradient-backgrounds.webp');
    background-size: cover;
    background-attachment: fixed;
    filter: opacity(0.3); /* Adjust the blur radius as needed */
    z-index: -1;
}
